@media (max-width: 1200px){
	input[data-role="search"]{
		width: 250px;
	}
	.itemListNavPanel,
	.mainHeader{
		font-size: smaller;
	}
	.navigationPanel{
		display: flex;
		justify-content :space-between;
	}
	img.mainFoto{
		position: absolute;
		top: 0;
		right: 0;
	}
}